.app-container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.app {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
