.cards-container {
  position: relative;
  width: 850px;
  height: 740px;
}

.card-row {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 287px;
}

.card {
  width: 200px;
}

.card-img {
  width: 200px;
}

.card-row:nth-child(1) {
  top: 0;
  z-index: 1;
}

.card-row:nth-child(2) {
  top: 75px;
  z-index: 2;
}

.card-row:nth-child(3) {
  top: 150px;
  z-index: 3;
}

.card-row:nth-child(4) {
  top: 225px;
  z-index: 4;
}

.card-row:nth-child(5) {
  top: 300px;
  z-index: 5;
}

.card-row:nth-child(6) {
  top: 375px;
  z-index: 6;
}

.card-row:nth-child(7) {
  top: 450px;
  z-index: 7;
}
