@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url("images/card-table-green-darker.png"); /* Relative path */
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
  background-attachment: fixed;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* cards */
  --card-w: 150px;
  --card-h: 190px;
  --card-rank-size: 42px;
  --large-card-suit-size: 85px;
  --small-card-suit-size: 40px;
  --overlap: 65px; /* card overlap */
  --stack-button-gap: 7;

  /* dialogue box */
  --dialogue-box-full-w: 525px;
  --dialogue-box-full-h: 145px;
  --dialogue-box-footer-w: 645px;
  --dialogue-box-footer-h: 115px;
  --dialogue-box-med-w: 525px;
  --dialogue-box-med-h: 145px;

  /* magician avatar */
  --magician-avatar-footer-w: 135px;
  --magician-avatar-full-w: 400px;
  --magician-avatar-med-w: 175px;
}

@media (max-width: 768px) {
  :root {
    --card-w: 125px;
    --card-h: 175px;
    --card-rank-size: 36px;
    --large-card-suit-size: 75px;
    --small-card-suit-size: 36px;
    --overlap: 65px;
    --stack-button-gap: 7.5;
  }
}

@media (max-width: 640px) {
  :root {
    --card-w: 100px;
    --card-h: 150px;
    --large-card-suit-size: 68px;
    --small-card-suit-size: 32px;
    --overlap: 55px;
  }
}

.magician-avatar-footer-size {
  width: var(--magician-avatar-footer-w);
}

.magician-avatar-full-size {
  width: var(--magician-avatar-full-w);
}

.megan-avatar-med-size {
  width: var(--magician-avatar-med-w);
}

.rank-size {
  font-size: var(--card-rank-size);
}

.suit-size-large {
  font-size: var(--large-card-suit-size);
}

.suit-size-small {
  font-size: var(--small-card-suit-size);
}

.card-width {
  width: var(--card-w);
}

.card-height {
  height: var(--card-h);
}

.dialogue-full-size {
  width: var(--dialogue-box-full-w);
  height: var(--dialogue-box-full-h);
}

.dialogue-footer-size {
  width: var(--dialogue-box-footer-w);
  height: var(--dialogue-box-footer-h);
}

.dialogue-med-size {
  width: var(--dialogue-box-med-w);
  height: var(--dialogue-box-med-h);
}

.magician-font {
  font-family: "Smythe", system-ui;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

.shine {
  position: absolute;
  top: 0;
  left: -75%; /* start well off the left */
  height: 100%;
  width: 50%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
}

button:hover .shine {
  animation: shine 0.75s forwards;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%; /* sweep fully across */
  }
}
