@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url("/images/card-table-green-background.png"); /* Relative path */
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
  background-attachment: fixed;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
}

.stage {
  height: 100vh; /* Fallback for older browsers */
  height: 100svh;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* cards */
  --card-padding: 0.75em;
  --card-h: 190px;
  --card-w: 150px; /* 78% of card height*/
  --large-card-suit-size: 85px;
  --small-card-suit-size: 40px; /* 47% of large-card-suit-size */
  --card-rank-size: 42px; /* 49% of large-card-suit-size  */
  --overlap: 65px; /* card overlap */ /* 34% of card height */
  --stack-button-gap: 7;

  /* dialogue box */
  --dialogue-box-with-btn-w: 525px;
  --dialogue-box-with-btn-h: 145px;
  --dialogue-box-small-w: 645px;
  --dialogue-box-small-h: 115px;
  --dialogue-font-size: 24px;
  --dialogue-text-width: 75%;

  /* magician avatar */
  --magician-avatar-small-w: 135px;
  --magician-avatar-med-w: 190px;
  --magician-avatar-large-w: 400px;

  /* buttons  */
  --stack-button-font-size: 36px;
  --stack-button-height: 3rem;
  --dialogue-button-font-size: 30px;
}

@media (max-width: 768px) {
  :root {
    --card-w: 125px;
    --card-h: 175px;
    --card-rank-size: 36px;
    --large-card-suit-size: 75px;
    --small-card-suit-size: 36px;
    --overlap: 65px;
    --stack-button-gap: 7.5;
  }
}

@media (max-width: 640px) {
  :root {
    --card-padding: 0.4em;
    --card-w: 100px;
    --card-h: 150px;
    --large-card-suit-size: 68px;
    --card-rank-size: 32px;
    --small-card-suit-size: 32px;
    --overlap: 55px;

    --magician-avatar-small-w: 100px;
    --magician-avatar-med-w: 140px;
    --magician-avatar-large-w: 275px;

    --dialogue-font-size: 17px;
    --dialogue-text-width: 70%;

    --stack-button-font-size: 24px;
    --stack-button-height: 2rem;
    --dialogue-button-font-size: 24px;

    --dialogue-box-with-btn-h: 135px;

    --stack-button-gap: 7;
  }
}

@media (max-height: 800px) {
  :root {
    --card-padding: 0.5em;
    --card-h: 135px;
    --card-w: 95px; /* 78% of card height*/
    --large-card-suit-size: 68px;
    --small-card-suit-size: 26px; /* 47% of large-card-suit-size */
    --card-rank-size: 28px; /* 49% of large-card-suit-size  */
    --overlap: 42px; /* card overlap */ /* 34% of card height */

    --magician-avatar-small-w: 100px;
    --magician-avatar-med-w: 140px;
    --magician-avatar-large-w: 275px;

    --dialogue-font-size: 17px;
    --dialogue-text-width: 70%;

    --stack-button-font-size: 24px;
    --stack-button-height: 2rem;
    --dialogue-button-font-size: 24px;

    --dialogue-box-small-w: 575px;
    --dialogue-box-small-h: 85px;

    --stack-button-gap: 7.5;
  }
}

@media (max-height: 601px) {
  :root {
    --card-h: 115px;
    --card-w: 85px; /* 78% of card height*/
    --overlap: 40px; /* card overlap */ /* 34% of card height */
  }
}

.stack-button-height {
  height: var(--stack-button-height);
}

.card-padding {
  padding: var(--card-padding);
}

.dialogue-button-font-size {
  font-size: var(--dialogue-button-font-size);
}

.stack-button-font-size {
  font-size: var(--stack-button-font-size);
}

.dialogue-text-width {
  width: var(--dialogue-text-width);
}

.dialogue-font-size {
  font-size: var(--dialogue-font-size);
}

.magician-avatar-small-size {
  width: var(--magician-avatar-small-w);
}

.magician-avatar-med-size {
  width: var(--magician-avatar-med-w);
}

.magician-avatar-large-size {
  width: var(--magician-avatar-large-w);
}

.rank-size {
  font-size: var(--card-rank-size);
}

.suit-size-large {
  font-size: var(--large-card-suit-size);
}

.suit-size-small {
  font-size: var(--small-card-suit-size);
}

.card-width {
  width: var(--card-w);
}

.card-height {
  height: var(--card-h);
}

.dialogue-with-btn-size {
  width: var(--dialogue-box-with-btn-w);
  height: var(--dialogue-box-with-btn-h);
}

.dialogue-small-size {
  width: var(--dialogue-box-small-w);
  height: var(--dialogue-box-small-h);
}

.magician-font {
  font-family: "Smythe", system-ui;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

.shine {
  position: absolute;
  top: 0;
  left: -75%; /* start well off the left */
  height: 100%;
  width: 50%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
}

button:hover .shine {
  animation: shine 0.75s forwards;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%; /* sweep fully across */
  }
}
